html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f4f4f4;
}

*,
::after,
::before {
  box-sizing: border-box;
}

header,
main,
nav,
section {
  display: block;
}

input {
  overflow: visible;
}

button {
  -webkit-appearance: button;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 900px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.custom-col {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;

  @media (max-width: 767.98px) {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  @media (max-width: 575.98px) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.form-block {
  margin-bottom: 15px;
}

.form-field {
  display: block;
  width: 100%;
  height: 54px;
  padding: 15px;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ccc;
  border-radius: 3px;

  &::-webkit-input-placeholder {
    color: #bbb;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: #bbb;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #bbb;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: #bbb;
    opacity: 1;
  }

  &::placeholder {
    color: #bbb;
    opacity: 1;
  }
}

.btn {
  display: inline-block;
  height: 51px;
  padding: 15px 20px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

.btn-blue {
  background-color: #395378;
  text-shadow: 1px 1px 2px #202f44;
}

.empty-wrapper {
  position: relative;
  height: 100%;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

.default-wrapper {
  margin-top: 90px;
}
